# Exclude router images and other large binary files
*.qcow2
*.bin
*.iso
*.ghost
*ilt_*

# Exclude temporary files
*.tmp

# Exclude GNS3 project backups
*.gns3project.backup

# Others
router_images/*

# Gns3 projects
#class_1/intro/*
#class_2_3/bgp_intro/*

# Ignore all files and directories except *.gns3 and *.cfg files
!.gitignore
!/*.gns3
!/*.cfg


